#profile-pic {
  width: 12rem;
  height: 12rem;
  border: 1px;
}
.profile-pic {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  padding-right: 5rem;
}
.Profile {
  padding-top: 2rem;
  color: rgb(2, 26, 21);
}
.user-info {
  display: inline-flex;
}
#alert {
  display: inline-block;
  padding-left: 4rem;
}
#button-top {
  margin-top: 2rem;
}
