#profile-pic {
  width: 12rem;
  height: 12rem;
  border: 1px;
}
.profile-pic {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}
.profile {
  padding-top: 1.2rem;
  color: rgb(2, 26, 21);
}
.user-info {
  display: inline-flex;
}
#alert {
  display: inline-block;
}
